<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p-card header="Login" [style]="{width: '380px'}">
    <div class="flex flex-column gap-2">
      <div>
        <label htmlFor="email">Email</label>
      </div>
      <input
        pInputText
        type="text"
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <div>
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
    </div>
    <div class="flex flex-column gap-2">
      <div>
        <label htmlFor="password">Password</label>
      </div>
      <input
        pInputText
        type="password"
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <div>
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">password is required</div>
        </small>
      </div>
    </div>
    <p-button label="Sign In" type="submit" [disabled]="loginForm.invalid" ></p-button>
    <div class="mt-2">Not a member? <a routerLink="/register">Register</a></div>
  </p-card>
</form>
